.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 400;
}

.modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  min-width: 300px;
  height: auto;
  background: linear-gradient(
    to left,
    rgba(143, 20, 180, 0.5),
    rgba(55, 60, 110, 0.9)
  );
  box-shadow: 0 0 20px rgba(255, 211, 221, 0.5);
  text-align: center;
  font-size: 0.75rem;

  z-index: 500;
}

.modal h2 {
  text-transform: uppercase;
  font-size: 1rem;
}

.failed {
  color: red;
}

.success {
  color: limegreen;
}

.actions button {
  border: none;
  outline: none;
  margin-top: 2em;
  padding: 0.45em 1.7em;
  background: green;
  color: yellow;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.65rem;
  opacity: 0.9;
  cursor: pointer;

  transition: opacity 300ms;
}

.actions button:hover,
.actions button:focus-visible {
  opacity: 1;
}

.actions button:focus-visible {
  transform: scale(1.1);
  background-color: yellow;
  color: green;
  outline: 3px solid cyan;
  outline-offset: 3px;
}

/* MEDIA QUERIES */

@media (min-width: 480px) {
  .modal {
    font-size: 0.85rem;
  }

  .modal h2 {
    font-size: 1.2rem;
  }

  .actions button {
    padding: 0.6em 1.8em;
    font-size: 0.75rem;
  }
}

@media (min-width: 780px) {
  .modal {
    font-size: 1rem;
  }

  .modal {
    min-width: 500px;
  }

  .modal h2 {
    font-size: 1.35rem;
  }

  .actions button {
    padding: 0.8em 2em;
    font-size: 0.85rem;
  }
}
