.modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  min-width: 500px;
  height: auto;

  background: linear-gradient(
    to left,
    rgba(143, 20, 180, 0.5),
    rgba(55, 60, 110, 0.9)
  );
  box-shadow: 0 0 20px rgba(255, 211, 221, 0.5);
  text-align: center;

  z-index: 500;
}

.modal h2 {
  text-transform: uppercase;
  font-size: 1.7rem;
}

.failed {
  color: red;
}

.success {
  color: limegreen;
}

.actions button {
  border: none;
  outline: none;
  margin-top: 2em;
  padding: 0.8em 2em;
  background: green;
  color: yellow;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  opacity: 0.9;
  cursor: pointer;

  transition: opacity 300ms;
}

.actions button:hover {
  opacity: 1;
}
