.game-log {
  margin: 2.5em 0 3.5em 0;
  max-width: 500px;
  margin: auto;
}

.game-log h3 {
  color: orange;
  padding-left: 0.3em;
  text-align: center;
  font-size: 0.9rem;
}

.log-entries {
  background: #000;
  box-shadow: 0 0 10px 2px orange;
}

.log-entry {
  padding: 0.1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.turn,
.time,
.checkmark,
.cross {
  font-size: 0.7rem;
}

.turn {
  color: orange;
}

.checkmark {
  color: green;
}

.cross {
  color: red;
}

/* MEDIA QUERIES */
@media (min-width: 600px) {
  .game-log h3 {
    font-size: 1rem;
  }

  .turn,
  .time,
  .checkmark,
  .cross {
    font-size: 0.8rem;
  }
}

@media (min-width: 780px) {
  .game-log h3 {
    font-size: 1.1rem;
  }

  .turn,
  .time,
  .checkmark,
  .cross {
    font-size: 0.9rem;
  }
}
