h1,
h2 {
  text-align: center;
  min-width: 300px;
}

h1 {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-background-clip: text;
  animation: glow 1.5s infinite alternate, heading-fade-in 200ms linear;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
}

h2 {
  font-size: 0.9rem;
}

.button-container {
  margin-top: 2.5em;
  margin-bottom: 4em;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.turns-left {
  margin-top: 4rem;
  font-size: 1rem;
  font-weight: bold;
  color: yellow;
  animation: fadeIn 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.turns-left-number {
  color: pink;
  font-size: 0.5rem;
}

.number-alert {
  color: red;
  animation: pulse 0.8s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }
  50% {
    text-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
  }
  100% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }
}

@keyframes heading-fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MEDIA QUERIES */
@media (min-width: 480px) {
  h1,
  h2 {
    min-width: 450px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .turns-left {
    font-size: 1.1rem;
  }

  .turns-left-number {
    font-size: 1.2rem;
  }
}

@media (min-width: 780px) {
  h1,
  h2 {
    min-width: 600px;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.65rem;
  }

  .turns-left {
    font-size: 1.3rem;
  }

  .turns-left-number {
    font-size: 1.3rem;
  }
}
