.main-wrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;

  transition: opacity 300ms ease;
}

.cards-grid {
  display: grid;
  gap: 1rem;
  justify-items: center;
  width: 100%;
  padding: 1rem;
}

.cards-grid.active {
  box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.7);
}

/* ACTION BUTTONS */
.button-container {
  margin-top: 2.5em;
  margin-bottom: 4em;
  height: 3rem;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 481px) and (max-width: 900px) {
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 901px) {
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
